.MuiAutocomplete-listbox > .MuiAutocomplete-option.Mui-focused {
  color: #f9b390;
}

.MuiAutocomplete-listbox > .MuiAutocomplete-option {
  border-bottom: 1px solid #e8e8e8;
}

.MuiAutocomplete-root.Mui-focused
  .MuiOutlinedInput-root.MuiInputBase-root
  .MuiOutlinedInput-notchedOutline {
  border: 2px solid #f36722;
}

.MuiAutocomplete-root.Mui-focused .MuiInputLabel-root {
  color: #f36722;
}

.MuiFormControl-root label.Mui-focused {
  color: #f36722;
}

.MuiFormControl-root div.MuiInputBase-root.Mui-focused::after {
  border-bottom: 2px solid #f36722;
}
